/*------------Navbar--------------*/

.cdf-navlogo
{
    height: 63px;
    padding: 4px 15px;
    padding-bottom: 2px;
    padding-left: 8px;
    margin-bottom: 5px;
    text-align: center;
}

.cdf-navlogo:hover
{
  background-color: var(--hover);
}

.cdf-navbar
{
  position: fixed;
  z-index: 15;
  width:1000px;
  left:50%;
  top:0;
  margin-left: -500px;
  border-bottom: 2px solid var(--primary);
  background: var(--background);
  margin-bottom: 10px;
}

.cdf-navitems
{
  margin-top: -50px;
  padding: 0px 2px;
  border-color: var(--text);
  font-size: 16px;
  height: 44px;
}

.cdf-navitem-wrapper
{
  float:right;
  position:relative;
  left:-50%;
  text-align:left;
  z-index: 2;
  pointer-events: none;
  font-weight: bold;
}

.cdf-navitem-wrapper ul{
    list-style:none;
    position:relative;
    left:50%;
    pointer-events: auto;
}

.nav-item
{
  border-top: 1px solid transparent;
}

.nav-item:hover
{
  border-top: 1px solid var(--primary);
}

.cdf-navbar ul
{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--background);
}

.cdf-navbar li {
    float: left;
    min-width: 130px;
    height: 45px;
}

.cdf-navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    height: 45px;
}

.cdf-navbar li a:hover:not(.active) {
    background-color: var(--hover);
}

.cdf-navbar .active {
    background-color: var(--hover);
}

.cdf-nav-left
{
  padding-top: 8px;
  margin-top: -7px;
  margin-bottom: -96px;
  border-top: 1px solid transparent;
  float:right;
  margin-right: 5px;
}

.cdf-nav-left li
{
  font-size: 20px;
  min-width: 40px;
  text-align: center;
  font-size: 22px;
  padding: 0px;
  margin-top: 0px;
  max-height: 43px;
}

.cdf-nav-left a:hover
{
  color: var(--primary);
}

.cdf-nav-left li:hover
{
  background-color: var(--hover);
  color: var(--primary);
  border-top: 1px solid var(--primary);
}

.logo-letter
{
  height:56px;
  margin-bottom: 4px;
}

.logo-letter-span
{
  display: inline-block;
  padding: 5px 8px;
  height: 62px;
  margin-bottom: 5px;
  margin-right: 0px;
  min-width: 110px;
  white-space: nowrap;
  z-index: 100;

}

.logo-letter-span:hover
{
  background-color: var(--hover);
}

.nav-dropdown-menu
{
  padding: 1px 1px;
  display: none;
  right:0;
  top: 63;
  position: absolute;
  background-color: var(--primary);
}

.nav-dropdown-menu a
{
  color: var(--text);
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 10px 10px;
  width: 100px;
  background-color: var(--background);
}

.nav-dropdown-menu a:hover
{
  background-color: var(--primary);
}


/*------------end of navbar----------------*/

/*mobile version*/
@media screen and (max-width: 992px) {

    .logo-letter-span
    {
      height: 80px !important;
      padding-left: 70px;
      background-color: transparent !important;
    }

    .logo-letter-span a
    {
      color: var(--primary);
    }

    .logo-letter-span img
    {
      height: 75px !important;
    }

    .cdf-navitems
    {
      display: none;
    }

    .mobile-menu
    {
      display: block !important;
    }
}

.mobile-menu
{
  font-size:40px;
  position: absolute;
  margin-top: 22px;
  margin-left: -50px;
  display: none;
}

.cdf-navitems-mobile
{
  width:100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid var(--primary);
  margin-top: 2px;
  display: none;
}

.cdf-navitems-mobile a
{
  text-align: left !important;
}

.cdf-navitems-mobile li
{
  width : 100%;
  height: 100px !important;
  line-height: 100px;
  font-size: 70px;
}

.cdf-navitems-mobile li a
{
  height: 100px !important;
  line-height: 80px !important;
  padding: 10px 0px;
  padding-left: 40px;
}

.cdf-navitems-mobile hr
{
  width: 100%;
  padding-right: 120px;
}

#navbreak
{
  border-bottom: 3px solid var(--primary_faded);
  height: 20px !important;
  margin-bottom: 20px;
}
/*end of mobile version*/
