:root{
  --primary:#008fea; /*blue*/
	--secondary:#ea5200; /*orange*/
	--background:#101010;
  --border:rgba(200,200,200,0.2);
  --primary_faded: rgba(0, 143, 234, 0.4);
  --text: #fff;
  --html-bg: linear-gradient(to right, #070000, #353535, #070000);
  --hover: #353535;
  --card_hover: rgba(0, 143, 234, 0.6);
}

html
{
}

body
{
  color:white;
  font-weight: 600;
  margin:auto;
  font-family: font-family: 'Titillium Web', sans-serif;
  background: var(--html-bg);
  background: -webkit-linear-gradient(to right, #070000, #282828, #070000);  /* Chrome 10-25, Safari 5.1-6 */
  background: var(--html-bg);
}

h1
{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding-top: 10px;
}

h2
{
  color: var(--text);
  margin-top: 0px;
  padding-top: 6px;
  font-weight: normal;
  font-size: 26px;
}

p{
  text-align: left;
  font-weight: normal;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  padding: 12px 150px;
}

img{
  text-align: center;
}

.cdf-con
{
  background-color: var(--background);
  width:1000px;
  margin: auto;
  min-height: 1000px;
  text-align: center;
  position: relative;
  z-index: 10;
  margin-top: 75px;
  margin-bottom: 200px;
}

/*------------Navbar--------------*/

.cdf-navlogo
{
    height: 63px;
    padding: 4px 15px;
    padding-bottom: 2px;
    padding-left: 8px;
    margin-bottom: 5px;
    text-align: center;
}

.cdf-navlogo:hover
{
  background-color: var(--hover);
}

.cdf-navbar
{
  position: fixed;
  z-index: 15;
  width:1000px;
  left:50%;
  top:0;
  margin-left: -500px;
  border-bottom: 2px solid var(--primary);
  background: var(--background);
  margin-bottom: 10px;
}

.cdf-navitems
{
  margin-top: -50px;
  padding: 0px 2px;
  border-color: var(--text);
  font-size: 16px;
  height: 44px;
}

.cdf-navitem-wrapper
{
  float:right;
  position:relative;
  left:-50%;
  text-align:left;
  z-index: 2;
  pointer-events: none;
}

.cdf-navitem-wrapper ul{
    list-style:none;
    position:relative;
    left:50%;
    pointer-events: auto;
}

.nav-item
{
  border-top: 1px solid transparent;
}

.nav-item:hover
{
  border-top: 1px solid var(--primary);
}

.cdf-navbar ul
{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--background);
}

.cdf-navbar li {
    float: left;
    min-width: 130px;
    height: 45px;
}

.cdf-navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    height: 45px;
}

.cdf-navbar li a:hover:not(.active) {
    background-color: var(--hover);
}

.cdf-navbar .active {
    background-color: var(--hover);
}

.cdf-nav-left
{
  padding-top: 8px;
  margin-top: -7px;
  margin-bottom: -96px;
  border-top: 1px solid transparent;
  float:right;
  margin-right: 5px;
}

.cdf-nav-left li
{
  font-size: 20px;
  min-width: 40px;
  text-align: center;
  font-size: 22px;
  padding: 0px;
  margin-top: 0px;
  max-height: 43px;
}

.cdf-nav-left a:hover
{
  color: var(--primary);
}

.cdf-nav-left li:hover
{
  background-color: var(--hover);
  color: var(--primary);
  border-top: 1px solid var(--primary);
}

.logo-letter
{
  height:56px;
  margin-bottom: 4px;
}

.logo-letter-span
{
  display: inline-block;
  padding: 5px 6px;
  height: 62px;
  margin-bottom: 5px;
  margin-right: 0px;
  min-width: 110px;
  white-space: nowrap;
  z-index: 100;
}

.logo-letter-span a
{
  color: var(--primary);
  text-decoration: none;
}

.logo-letter-span:hover
{
  background-color: var(--hover);
}


.logo-text
{
  display: inline-block;
  margin-right: 2px;
  font-size: 20px;
  width: 40px;
  margin-left: -40px;
  display: none;
  white-space: nowrap ;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#logo-letter-c{ margin-left: -37px;}
#logo-letter-d{ margin-left: -30px;}
#logo-letter-f{ margin-left: -35px; display:}

.nav-dropdown-menu
{
  padding: 1px 1px;
  display: none;
  right:0;
  top: 63;
  position: absolute;
  background-color: var(--primary);
}

.nav-dropdown-menu a
{
  color: var(--text);
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 10px 10px;
  width: 100px;
  background-color: var(--background);
}

.nav-dropdown-menu a:hover
{
  background-color: var(--primary);
}


/*------------end of navbar----------------*/

.section
{
  display: none;
}

#home
{
  display: block;
}

#about
{
  padding-bottom: 80px;
}

.full-width
{
  width: 1000px;
}

.home-heading
{

  margin: auto;
  font-size: 25px;
  vertical-align: middle;
  padding: 2px 2px;
}

hr.faded{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), var(--primary), rgba(0,0,0,0));
}

.home-img-con
{
    width: 1000px;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.home-img-text
{
  margin-top: -40px;
  font-size: 25px;
  width: 100%;
  line-height: 40px;
  background-color: var(--card_bg);
  position: absolute;
  z-index: 10;
}


.home-img
{
  position: absolute;
margin: auto;
min-height: 100%;
min-width: 100%;

/* For the following settings we set 100%, but it can be higher if needed
See the answer's update */
left: -100%;
right: -100%;
top: -100%;
bottom: -100%;
}

.cdf-con a
{
  text-decoration: none;
  color: var(--text);
}

.card img {
  max-width: 100%;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.card:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
