:root{
  --primary:; /*blue*/
	--secondary:; /*orange*/
	--green:;
	--red:;
	--white:#fff;
	--background:#000;
  --border:rgba(255,255,255,0.4);

  /*non-color blind colors, should remain constant*/
  --primary_const:#00c0ff;
  --secondary_const:#ff4200; /*orange*/
  --green_const:#78d400;
  --red_const:#ff0006;

  /*color blind colors*/
  --primary_blind:#00c0ff;
  --secondary_blind:#f6f9ff;
  --green_blind:#a4beff;
  --red_blind:#2563ff;

}

@font-face {
    font-family: radiance-bold;
    src: url(../fonts/radiance-bold.ttf);

	font-family: radiance;
    src: url(../fonts/radiance.ttf);
}

html {
  background: url("../img/backgrounds/1.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%;
}

body
{
  margin-top:30px;
  background: none;
  font-weight:bold;
}

input[type=text]
{
  background-color: inherit;
  border: 1px solid var(--primary);
  padding:2px 8px;
  width:280px;
  margin:4px 0px;
}


.body-container
{
	width:720px;
	margin:auto;
	background-color: var(--background);
	color: var(--primary);
	font-family: radiance;
	z-index:-100;
}


.section
{
	padding-top:10px;
}

.container
{
	text-align:center;
	width:100%;
}

.row img {
    display:block;
    margin:auto;
}

.primary
{
	color: var(--primary);
}

.secondary
{
	color: var(--secondary);
}

.red{
	color: var(--red);
}

.green
{
	color:var(--green);
}



.width-half
{
	display: table-cell;
	width:360px;
}

hr.faded{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), var(--primary), rgba(0,0,0,0));
}

hr.primary{
    border: 0;
    height: 1px;
    margin:5px 0px;
    background-color: var(--primary);
}

h4
{
	color: var(--white);
	font-size:15px;
}

h1,h2,h3,h4
{
  font-weight: bold;
}

h2
{
	margin-top:-15px;
  margin-bottom: -5px;
	text-align:center;
	font-size:30px;
}

.canvas-circle
{
	width: 300px;
	height: 150px;
	margin-left:-105px;
	margin-top:-20px;
	margin-bottom:-115px;
	position: relative;
    z-index:100;
}


@media screen and (max-width: 720px)
{
	.body-container
	{
		width:100%;
	}
}

button
{
  background-color: var(--background);
}

/*check box*/
label {
  display: inline-block;
	border-radius: 0%;
  border: 1px solid var(--white);
  width: 1em;
  height: 1em;
	margin-bottom:-2px;
	margin-right: 8px;
}

label:hover
{
	border-color: var(--primary);
}

input[type=checkbox] {
  display: none;
}


input[type=checkbox]:checked + label {
  background-color: var(--primary)
}

/*end of checkbox*/
