
.sidebar
{
	position: absolute;
	left:0;
	top:0;
	color: var(--white);
	border-right:2px solid var(--primary);
	background-color: var(--background);
	bottom: 0;
	font-size: 18px;
	font-weight:500;

}

.sidebar-menu
{
	background-color: var(--background);
	margin-left: -1px;
	margin-right: -1px;
	margin-top: -1px;

	font-weight:bold;
}

.sidebar-menu-item
{
	display: inline-block;
	text-align: center;
	font-size: 16px;
	padding:6px 0px;
	width:50%;
	background-color: rgba(255,255,255,0.1);
	cursor:pointer;

}

.sidebar-menu-item-selected
{
	background-color: var(--primary-faded);
}

.sidebar-btn
{
	border: 1px solid var(--primary);
}

.sidebar-btn:hover
{
	background-color: var(--primary);
	color: var(--background);
}

.btn-minimize
{
	background-color: rgba(0,0,0,0);
	border: none;
	margin-top:0px;
	margin-left: -11px;
	font-size:16px;
	cursor:pointer;
	opacity:0.5;
}

.btn-minimize:hover
{
	opacity:1;
}

.sidebar-column
{
	width:350px;
	margin: 10px 6px;
	margin-left: 12px;
	display: none;
	margin-bottom: 0px;
}

#sidebar-1-column
{
	display: block;
}

.section-list
{
	max-height:85%;
	overflow-y: scroll;
	margin-right: -6px;
}

.section-list::-webkit-scrollbar-track
{
	background-color: var(--border);
}

.section-list::-webkit-scrollbar
{
	width: 3px;
}

.section-list::-webkit-scrollbar-thumb
{
	background-color: var(--white);
}


.sidebar-item
{
	border: 0px solid var(--primary-faded);
	border-left: 2px solid var(--primary);
	padding: 4px 6px;
	margin-top: 5px;
	padding-left:12px;
	text-align:left;
	margin-bottom: 10px;
	text-transform: capitalize;
}


.sidebar-sub-menu
{
	text-align:center;
	padding: 12px 14px;
	padding-bottom: 14px;
	font-size: 14px;
	margin: auto;
	margin-bottom: 10px;
	border: 1px solid var(--primary);
	font-weight: bold;

}

.sidebar-browser
{
	position: absolute;
	left:370;
	top:34;
	bottom:0;
	width:200px;
	color: var(--white);
	border-right:1px solid var(--primary);
	border-top:1px solid var(--primary);
	background-color: var(--background);
	font-size: 20px;
	text-align: center;
	padding-top: 5px;

	display: none;
}

.sidebar-browser-template
{
	margin:10px 6px;
	padding-top: 2px;
	font-size: 16px;
	border:1px solid var(--primary-faded);
	border-left:1px solid var(--primary);
	text-transform: capitalize;
	border:1px solid transparent;
}

.sidebar-browser-template img
{
	width:100%;
}

.sidebar-browser-template:hover
{
	border:1px solid var(--primary);
}

.browser-menu-item
{
	margin-top: -5px;
	display: inline-block;
	width: 50%;
	cursor:pointer;
	text-transform: capitalize;
}

.sidebar-selected
{
	background-color: var(--primary-faded);
}

.template-split
{
	display:none;
}

.sidebar-template-field
{
	margin-left: 20px;
	width:100%;
}

.add-img-btn
{
	font-size: 16px;
	margin-left: -1px;
	height:31px;
	margin-top: 2px;
	padding:6px 6px;
	border: 1px solid var(--primary);
	border-left:2px solid var(--primary);
}

.ui-menu-item
{
	background-color: var(--background);
	color: var(--white);
}

input.input-hero
{
	width:250px;
}

.move-hero
{
	font-size: 16px;
	padding: 6px 2px;
	height:31px;
}

.move-hero:focus
{
	background-color: var(--border);
}
