
.sidebar
{
	position: fixed;
	left:0;
	top:0;
	color: var(--white);
	border-right:2px solid var(--primary);
	background-color: var(--background);
	bottom: 0;
	font-size: 18px;
	font-weight:500;
	z-index: 100;
}

.sidebar-menu
{
	background-color: var(--background);
	margin-left: -1px;
	margin-right: -1px;
	margin-top: -1px;

	font-weight:bold;
}


.sidebar-menu-item
{
	display: inline-block;
	text-align: center;
	font-size: 16px;
	padding:6px 0px;
	width:50%;
	background-color: rgba(255,255,255,0.1);
	cursor:pointer;
}

.sidebar-menu-item-selected
{
	background-color: var(--primary_faded);
}

.sidebar-btn
{
	border: 1px solid var(--primary);
}

button[disabled]:hover
{
	background-color: var(--background);
}

.sidebar-btn:hover
{
	background-color: var(--primary);
	color: var(--background);
}

.sidebar-btn:disabled
{
	color: var(--border);
}

.btn-minimize
{
	background-color: rgba(0,0,0,0);
	border: none;
	margin-top:0px;
	margin-left: -11px;
	font-size:16px;
	cursor:pointer;
	opacity:0.5;
}

.btn-minimize:hover
{
	opacity:1;
}

.sidebar-column
{
	width:350px;
	margin: 10px 6px;
	margin-left: 12px;
	display: none;
	margin-bottom: 0px;
}

#sidebar-1-column
{
	display: block;
}

.section-list
{
	max-height:95%;
	overflow-y: scroll;
	margin-right: -6px;
	padding-bottom: 150px;
}

.section-list::-webkit-scrollbar-track
{
	background-color: var(--border);
}

.section-list::-webkit-scrollbar
{
	width: 3px;
}

.section-list::-webkit-scrollbar-thumb
{
	background-color: var(--white);
}


.sidebar-item
{
	border-left: 2px solid var(--primary);
	padding: 4px 6px;
	margin-top: 5px;
	padding-left:12px;
	text-align:left;
	margin-bottom: 10px;
	text-transform: capitalize;
}


.sidebar-sub-menu
{
	text-align:center;
	padding: 12px 14px;
	padding-bottom: 14px;
	font-size: 14px;
	margin: auto;
	margin-bottom: 10px;
	border: 1px solid var(--primary);
	font-weight: bold;

}

.sidebar-browser
{
	position: absolute;
	left:370;
	top:34;
	bottom:0;
	width:200px;
	color: var(--white);
	border-right:1px solid var(--primary);
	border-top:1px solid var(--primary);
	background-color: var(--background);
	font-size: 20px;
	text-align: center;
	padding-top: 5px;

	display: none;
}

.sidebar-browser-template
{
	margin:10px 6px;
	padding-top: 2px;
	font-size: 16px;
	text-transform: capitalize;
	border:1px solid transparent;
	min-height:70px;
	padding: 0px;
}

.sidebar-browser-template img
{
	width:100%;
}

.sidebar-browser-template:hover
{
	border:1px solid var(--primary);
}

.browser-menu-item
{
	margin-top: -5px;
	display: inline-block;
	width: 50%;
	cursor:pointer;
	text-transform: capitalize;
}

.template-split
{
	display:none;
}

.sidebar-template-field
{
	margin-left: 20px;
	width:100%;
}

.add-img-btn
{
	font-size: 16px;
	margin-left: -1px;
	height:31px;
	margin-top: 2px;
	padding:6px 6px;
	border: 1px solid var(--primary);
	border-left:2px solid var(--primary);
}

.add-img-btn:focus
{
	background-color: var(--border);
}

.ui-menu-item
{
	background-color: var(--background);
	color: var(--white);
}

input.input-hero
{
	width:250px;
}

.move-hero
{
	font-size: 16px;
	padding: 6px 2px;
	height:31px;
}

.move-hero:focus
{
	background-color: var(--border);
}

.template-btn
{
	padding: 2px 2px;
	color: var(--border);
	border: 1px solid transparent;
	float: right;
	margin-left: 8px;
}

.btn-add-template
{
}

.btn-add-template:hover
{
	color: var(--background);
}

.hide-sidebar-browser
{
	position: fixed;
	margin-top: 33px;
	margin-left: 174px;
	padding: 6px 6px;
	font-size: 12px;
}

.sidebar-browser-title
{
	padding-bottom: 10px;
}

.remove-section-btn
{
	color: var(--border);
	border:none;
	float: right;
	padding: 4px 4px;
	font-size: 12px;
}

.hide-sidebar
{
	position:fixed;
	left:370px;
	top:0px;
	padding: 2px 2px;
	color: var(--border);
	border-color: transparent;
	font-size: 14px;
}

.show-sidebar
{
	position:fixed;
	left:0px;
	top:0px;
	padding: 2px 2px;
	font-size: 14px;
	color: var(--white);
	border-color: transparent;
}

.delete-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
		padding-left:0px;
}

.delete-menu li {
    padding: 8px 12px;
    cursor: pointer;
		list-style:none;
}

.delete-menu li:hover {
    background-color: #DEF;
}
