
.template-02
{
	position: relative;
}

.template-02-chart
{
	margin:5px 10px;
	padding:0px;
	height:200px;
	/*background-color:var(--primary);*/
}

.template-02-inner
{
	position: relative;
	z-index:2;
	margin:0px;
	margin-left:92px;
	width:8px;
	padding:0px;
	height:180px;
	opacity:1;
}

.template-02-inner-green
{
	background-color: var(--wr-green);
	margin-top:0px; /*inner red height *=-1*/
}

.template-02-inner-red
{
	background-color: var(--red);
	margin-top:-180px;
}

.template-02-inner-empty
{
	background-color: var(--white);
	margin-top:-180px; /*inner green height *=-1*/
	opacity:0.7;
}

.template-02-inner-image
{
	margin-top:-180px; /*inner green height *=-1*/
	z-index:1;
	opacity:1;
	margin-left:0px;
	
}

.template-02-inner-image img 
{
	height:100%;
	object-fit: cover;
	object-position: -20px 10px;
	width:92px;
	background: rgba(0,0,0,1);
}

.template-02-text
{
	margin-top:6px;
	font-size:16px;
}

.template-02-inner-total
{
	margin-top:-180px;
	margin-left:100px;
	width:2px;
	background-color:var(--primary);
}

.template-02-text-lg
{
	font-size:24px;
	margin-top:-5px;
	color: var(--primary);
}