
.team-01-bar-green
{
  height: 10px;
  width:200px;
  display: inline-block;
  border-top-right-radius: 2em;


  background: var(--green); /* Old browsers */
  background: -moz-linear-gradient(top, var(--green) 0%, var(--green) 40%, #4b8401 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, var(--green) 0%,var(--green) 40%,#4b8401 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, var(--green) 0%,var(--green) 40%,#4b8401 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


.team-01-bar-red
{
  width:200px;
  display: inline-block;
  height: 10px;
  background-color:red;
  border-top-right-radius: 2em;

  background: var(--red); /* Old browsers */
  background: -moz-linear-gradient(top, var(--red) 0%, var(--red) 40%, #cc0005 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, var(--red) 0%,var(--red) 40%,#cc0005 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, var(--red) 0%,var(--red) 40%, #cc0005 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.team-01-table-left
{
  width: 100px;
  font-weight: bold;
}

.team-01-table-right
{
  width:220px;
}

.team-01-bar
{
  height: 12px;

  border-top-right-radius: 2em;
}

.team-01-leftbar-text
{
  color: var(--green);
  text-align: left;
  font-size: 18px;
  width: 100%;
}

.team-01-righttbar-text
{
  text-align: left;
  color: var(--red);
  margin-top: -5px;
  font-size: 18px;
  width: 100%;
}


.team-01-bar-mid
{
  background-color: var(--white);
  width:2px;
  height:14px;
  margin: auto;
  margin-top: -14px;
}

.team-01-achieve-con
{
  margin-left: 8px;
  margin-top: 10px;
}
.team-01-achieve
{
  color: var(--white);
  width:100px;
  margin: 0px 2px;
  display: inline;
  float: left;
  margin-bottom: 10px;
  margin-top: 35px;
}
.team-01-achieve-place
{
  font-size: 30px;
  border: 2px solid var(--border);
  border-radius: 50%;
  line-height: 72px;
  height: 80px;
  width:80px;
  margin: auto;
  margin-bottom: -116px;
}

.team-01-achieve-name-parent
{
  position: relative;
  min-height: 55px;
}

.team-01-achieve-name
{
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -10px;
  background-color: var(--background);
  border-bottom: 1px solid var(--primary);
  width: 100%;
  padding: 2px 6px;
  overflow: hidden;
white-space: nowrap;
}
.team-01-achieve-info
{
  border-top: 1px solid var(--border);
  margin-top: 70px;
  text-align: center;
}
.team-01-achieve-date
{
  font-size: 12px;
  display: inline;
  float: left;
  width:50%;
  border-right: 1px solid var(--border);
  color: var(--white);
}
.team-01-achieve-prize
{
  font-size: 12px;
  display: inline;
  float:right;
  width:50%;
  color: var(--white);
}

.gold
{
  border-color: rgba(255,215,0,0.5);
  box-shadow: 0 0 3px 3px rgba(255,215,0,1);
  color: rgba(255,215,0,1);
}

.silver
{
  border-color: rgba(192,192,192,0.5);
  box-shadow: 0 0 3px 3px rgba(192,192,192,1);
  color: rgb(192,192,192)
}

.bronze
{
  border-color: rgba(205, 127, 50, 0.5);
  box-shadow: 0 0 3px 3px rgb(205, 127, 50);
  color: rgb(205, 127, 50);
}
