
.pp-img-con
{
  width: 110px;
}

.pp-img-con img{
  margin-bottom: -4px;
}

.pp-player-info
{
  width:150px;
  color: var(--white);

}

.pp-player-info h3
{
  margin-bottom: 10px;
  padding-bottom: 2px;
  color: var(--primary);

}

.pp-country-con
{
  width:75px;
  text-align:center;
  color: var(--white);
}

.pp-country-con h2
{
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.pp-player-table td
{
  vertical-align: bottom;
  padding-bottom: 4px;
}

.pp-player-table
{
  border-bottom: 2px solid var(--primary);
}

.pp-player-img
{
  height: 100px;
}
.pp-country-name
{
  margin-bottom: 6px;
  margin-top: 2px;
}

.pp-heroes-table
{
  color:white;
  margin-top: 10px;
}

.pp-heroes-table td
{
  width:165px;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 16px;
}

.pp-hero
{
  width: 80px;
  margin-right: 6px;
  float: left;
}

.pp-hero-win
{
  color: var(--green);
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
}
.pp-hero-pick
{
  color: var(--secondary);
  font-size: 20px;
  font-weight: bold;
}

.pp-hero-right
{
  margin-left: 14px;
}

.pp-horz-line
{
  width: 40px;
  height: 220px;
  margin-top: -246px;
  border-right: 2px solid var(--primary);
}


.pp-hero-text
{
  background-color: var(--background);
  padding: 0px 6px;
  border-bottom: 1px solid var(--primary);
  border-top: 1px solid var(--primary);
}
