
.tournament{
	padding-top:0px;
}

.tournament-info
{
	color: var(--white);
	font-size:15px;
	padding-top:5px;
}

.tournament-logo
{
	height:100px;
	padding-bottom:20px;
}

.tournament-overview
{
	padding-top:5px;
	font-size:20px;
	text-align:left;
	padding-left:60px;
}

.header-stat
{
	color: var(--white);
	font-size:15px;
}

.tournament-title
{
	color: var(--primary);
	font-size:20px;
}

.dire, .radiant
{
	font-weight:500;
}
